{% extends "::base.html.twig" %}

{% block title %}{{ societe.nom }}{% endblock %}

{% block body %}
    <h2>Détails d'une société</h2>
    <div class="row">
        <div class="col-md-2">
            <b>Nom</b>
        </div>
        <div class="col-md-10">
            {{ societe.nom }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <b>Ville</b>
        </div>
        <div class="col-md-10">
            {{ societe.ville }}
        </div>
    </div>

    {% if societe.contacts | length %}
    <div class="row">
        <div class="col-md-2">
            <b>Contacts</b>
        </div>
        <div class="col-md-10">
            <ul>
                {% for contact in societe.contacts %}
                <li>{{ contact.prenom }} {{ contact.nom }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}
